* {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(to left,white 60%, rgba(231, 240, 242, 0.3) 40%);
}

#loading {
	background-color: white;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.icon {
	width: 40px;
	height: 40px;
	border: 5px solid #ccc;
	border-top: 5px solid black;
	position: fixed;
	border-radius: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	margin: auto;
	animation: putar 1s linear infinite
}

@keyframes putar{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.page2-left {
	margin-top: 50px;
	margin-left: 8%;
	margin-bottom: 45px;
	width: 40%;
	float: left;
}

.img img {
	width: 523px;
	height: 567px;
}

#btn1, #btn2 {
	background-color: black;
	position: absolute;
	color: white;
	padding: 17px 12px;
	position: relative;
	margin-right: 10px;
	transition: 0.3s;
	margin-top: -50px;
}

#btn1:hover ,#btn2:hover {
	background-color: #4D4D4D;
	cursor: pointer;
}

.page2-right {
	margin-top: 50px;
	width: 40%;
	margin-right: 8%;
	float: right;
}

.corner-img {
	margin-right: 19px;
	margin-bottom: 20px;
	text-align: right;
}

.back {
	text-align: right;
	margin-bottom: 8px;
}

.back a {
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: 900;
	font-family: 'ubuntu';
	font-size: 12px;
}

.back a:hover {
	border-bottom: 2px solid black;
}

.main{
	font-family: 'ubuntu';
}

.name-size {
	font-size: 36px;
	font-weight: lighter;
}

.diskon {
	font-size: 20px;
	margin-top: 25px;
}

.normal {
	font-size: 12px;
}

.lorem1 {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.3);
}

.lorem2 {
	font-size: 14px; 
	color: rgba(0, 0, 0, 0.4);
	margin-bottom: 35px;
}

.size {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.55);
	margin-bottom: 35px;
}

.size select {
	border: none;
	color: black;
	font-family: 'montserrat';
	font-size: 24px;
	font-weight: bolder;
}

.minitext {
	text-align: right;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.55);
	margin-bottom: 36px;
}

.main button {
	background-color: black;
	color: white;
	font-family: 'Ubuntu', arial;
	font-size: 12px;
	font-weight: 500;
	padding: 12px 20px;
	border: 0px;
	transition: 0.2s;
	border: 2px solid transparent;
}

button:hover {
	border: 2px solid black;
	background-color: transparent;
	color: black;
	cursor: pointer;
}

.clear {
	clear: both;
}

.footer {
	width: 100%;
	text-align: center;
	border-top: 2px solid #E7F0F2;
	margin-top: 20px;
	background-color: white;
}

.footer img {
	width: 15px;
	height: 15px;
	margin: 10px;
}