* {
  padding: 0;
  margin: 0;  
}

body {
	background: linear-gradient(to right, rgba(231, 240, 242, 0.3) 60%, white 40%);
}

#loading {
	background-color: white;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	/*width: 40px;
	height: 40px;
	border: 5px solid #ccc;
	border-top: 5px solid black;
	border-radius: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	margin: auto;
	animation: putar 1s linear infinite;*/
}

.icon {
	width: 40px;
	height: 40px;
	border: 5px solid #ccc;
	border-top: 5px solid black;
	position: fixed;
	border-radius: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	margin: auto;
	animation: putar 1s linear infinite
}

@keyframes putar{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

#page1 {
	margin-top: 70px;
	margin-left: 8%;
	margin-right: 8%;
}

.judul {
    font-family: 'montserrat', arial;
    width: 80%;
    max-width: 640px;
    font-size: 60px;
    float: left;

}

.listtop {
	float: right;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-right: 1px solid #E7F0F2;
    max-width: 300px;
}

.list1 {
	list-style: none;
	font-size: 12px;
	margin-bottom: 15px;
	padding-right: 20px;
	text-align: right;
}

.list1 a {
	text-decoration: none;
	color: #000004;
	font-family: 'Ubuntu', arial;
	font-weight: 500px;
	padding: 5px 8px;
	transition: 0.3s;
}

a:hover {
	background-color: black;
	color: white;
}

.clear {
	clear: both;
}

.baris2 {
	margin-top: 50px;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-shop button{
	background-color: black;
	color: white;
	font-family: 'Ubuntu', arial;
	font-size: 12px;
	font-weight: 500;
	padding: 12px 20px;
	border: 0px;
	float: left;
	transition: 0.2s;
	border: 2px solid transparent;

}

.clear2 {
	clear: left;
}

.text {
	float: right;
	text-align: right;
	font-size: 36px;
	font-family: 'Ubuntu', arial;
	font-weight: lighter;
	width: 70%;
	max-width: 700px;
}

.clear2 {
	clear: left;
}

button:hover {
	border: 2px solid black;
	background-color: transparent;
	color: black;
	cursor: pointer;
}

.mini-text {
	font-family: 'Ubuntu', arial;
	width: 45%;
	max-width: 230px;
	float: right;
	font-size: 12px;
	border-top: 2px solid #E7F0F2;
	padding-top: 20px;
	text-align: right;
	padding-left: 60px;
	margin-bottom: 30px;
}

.clear3 {
	clear: right;
}

.baris3 {

}

.baris3 h4 {
	font-family: 'Ubuntu', arial;
	font-size: 12px;
	color: white;
	text-align: right;
	font-weight: normal;
	padding-top: 16vh;
	margin-right: 12px;
}

.baris3 p {
	font-family: 'Ubuntu', arial;
	font-size: 8px;
	color: white;
	text-align: right;
	margin-top: 5px;
	margin-right: 12px;
}

.img1  {
	background-image: url(keynote.jpg);
	background-size: cover;
	width: 25%;
	max-width: 240px;
	height: 144px;
	float: right;
	margin-left: 6%;
	margin-bottom: 15px;
	border-radius: 5%;
	transition: 0.3s;
}

.img2 {
	background-image: url(activity.jpg);
	background-size: cover;
	width: 25%;
	max-width: 240px;
	height: 144px;
	float: right;
	margin-left: 6%;
	margin-bottom: 15px;
	border-radius: 5%;
	transition: 0.3s;

}

.img3 {
	background-image: url(gallery.jpg);
	background-size: cover;
	width: 25%;
	max-width: 240px;
	height: 144px;
	float: right;
	margin-bottom: 15px;
	border-radius: 5%;
	transition: 0.3s;
}

.img1:hover {
	background-color: white;
	opacity: 0.6;
	cursor: pointer;
}

.img2:hover {
	background-color: white;
	opacity: 0.6;
	cursor: pointer;
}

.img3:hover {
	opacity: 0.6;
	cursor: pointer;
}

.clear4 {
	clear: right;
}

.footer {
	width: 100%;
	text-align: center;
	border-top: 2px solid #E7F0F2;
	margin-top: 50px;
	background-color: white;
}

.footer img {
	width: 15px;
	height: 15px;
	margin: 10px;
}